<a [routerLink]="['/']">
  <h1>MainPage</h1>
</a>

<a [routerLink]="['/exchange/availableSymbols']" class="button fancy-button"><i class="material-icons">face</i>Symbol</a>
<a [routerLink]="['/exchange/routedOrder']" class="button fancy-button"><i class="material-icons">shopping_cart</i>RoutedOrder</a>
<a [routerLink]="['/exchange/executionReport']" class="button fancy-button"><i class="material-icons">shopping_cart</i>ExecutionReport</a>
<a [routerLink]="['/exchange/parent']" class="button fancy-button"><i class="material-icons">shopping_cart</i>ParentOrder</a>
<a [routerLink]="['/exchange/account']" class="button fancy-button"><i class="material-icons">account_box</i>Account</a>